<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PulltoRefreshTableView1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE2C67F41DB5DFB50047C7C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2C680D1DB5DFB50047C7C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2C68181DB5DFB50047C7C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
